module.exports = {


  friendlyName: 'View change password',


  description: 'Display change password page.',


  inputs: {

  },


  exits: {

    success: {
      viewTemplatePath: 'pages/account/change-password'
    }

  },


  fn: async function (inputs, exits) {

    return exits.success();

  }


};
