{
  //   ╔═╗╔═╗╦  ╦╔╗╔╔╦╗┬─┐┌─┐  ┌─┐┬  ┬┌─┐┬─┐┬─┐┬┌┬┐┌─┐
  //   ║╣ ╚═╗║  ║║║║ ║ ├┬┘│    │ │└┐┌┘├┤ ├┬┘├┬┘│ ││├┤
  //  o╚═╝╚═╝╩═╝╩╝╚╝ ╩ ┴└─└─┘  └─┘ └┘ └─┘┴└─┴└─┴─┴┘└─┘
  //  ┌─  ┌─┐┌─┐┬─┐  ┌─┐┬ ┬┌┬┐┌─┐┌┬┐┌─┐┌┬┐┌─┐┌┬┐  ┌┬┐┌─┐┌─┐┌┬┐┌─┐  ─┐
  //  │   ├┤ │ │├┬┘  ├─┤│ │ │ │ ││││├─┤ │ ├┤  ││   │ ├┤ └─┐ │ └─┐   │
  //  └─  └  └─┘┴└─  ┴ ┴└─┘ ┴ └─┘┴ ┴┴ ┴ ┴ └─┘─┴┘   ┴ └─┘└─┘ ┴ └─┘  ─┘
  // > An .eslintrc configuration override for use in the `test/` directory.
  //
  // (See .eslintrc in the root directory of this package for more info.)

  "extends": [
    "../.eslintrc"
  ],

  "env": {
    "mocha": true
  }

}
