<div id="401-invalid-or-expired-token">
  <div class="container">
    <div class="error-498">
      <h1>Sorry, that link is expired, or it has already been used.</h1>
      <h4>Need further help accessing your account?</h4>
      <h4>Please <a href="/contact">contact support</a> or request a new <a href="/password/forgot">password reset.</a></h4>
      <div class="reset-link xs-pt-40">
        <a class="btn btn-lg btn-brand" href="/password/forgot">Reset password</a>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
