<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/96cbd61ead.js"></script>

    <!-- Delete standard `self` property on window to avoid client-side bugs. -->
    <!-- See https://developer.mozilla.org/en-US/docs/Web/API/Window/self -->
    <script>delete window.self;</script>

    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <!--STYLES END-->
  </head>

  <body>
    <div id="page-wrap">
      <header id="page-header" class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand" href="/">NEW_APP_NAME</a>
        <div class="navbar-nav">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="[navbar-menu]" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" navbar-menu>
            <!-- LOGGED-IN NAVIGATION -->
            <% if(me) { %>
            <a class="nav-item nav-link" href="/contact">Help</a>
            <!-- Only in desktop nav -->
            <div class="nav-item dropdown d-none d-sm-block">
              <a class="nav-link dropdown-toggle" id="header-account-menu-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
              <div class="dropdown-menu" aria-labelledby="header-account-menu-link">
                <a class="dropdown-item" href="/account">Settings</a>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </div>
            <!-- Only in mobile nav -->
            <a class="nav-item nav-link d-block d-sm-none" href="/account">Account Settings</a>
            <a class="nav-item nav-link d-block d-sm-none" href="/logout">Logout</a>
            <% } else { %>
            <!-- LOGGED-OUT NAVIGATION -->
            <a class="nav-item nav-link" href="/faq">FAQ</a>
            <a class="nav-item nav-link ml-sm-2 mr-sm-1" href="/login">Log in</a>
            <!-- Only in desktop nav -->
            <div class="form-inline ml-2 d-none d-sm-block" >
              <a class="btn btn-outline-info" href="/signup">Sign up</a>
            </div>
            <!-- Only in mobile nav -->
            <a class="nav-item nav-link d-block d-sm-none" href="/signup">Sign up</a>
            <% } %>
          </div>
        </div>
      </header>

      <!-- Alert if email has not been confirmed -->
      <% if(me&&me.emailChangeCandidate) { %>
      <div class="container-fluid">
        <div class="alert alert-secondary mt-2" role="alert">
        Your updated email address needs verification. Until you click the link sent to <strong><%= me.emailChangeCandidate %></strong>, you'll still need to sign in as <strong><%= me.emailAddress %></strong>.
        </div>
      </div>
      <% } else if(me&&me.emailStatus === 'pending') { %>
      <div class="container-fluid">
        <div class="alert alert-secondary mt-2" role="alert">
        Your email address still needs verification. Your account access may be limited until you click the link sent to <strong><%= me.emailChangeCandidate ? me.emailChangeCandidate : me.emailAddress%></strong>.
        </div>
      </div>
      <% } %>

      <%- body %>

      <footer id="page-footer" class="navbar navbar-light justify-content-between">
        <small>Copyright &copy; 2017 NEW_APP_COMPANY. All rights reserved.</small>
        <div class="nav">
          <small class="nav-item"><a class="nav-link text-info" href="/contact">Contact us</a></small>
          <small class="nav-item"><a class="nav-link text-info" href="/legal/terms">Terms of Use</a></small>
          <small class="nav-item"><a class="nav-link text-info" href="/legal/privacy">Privacy policy</a></small>
          <% if(me) { %>
          <small class="nav-item"><a class="nav-link text-info" href="/logout">Sign out</a></small>
          <% } %>
        </div>
      </footer>
    </div>



    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!-- Stripe Checkout -->
    <script src="https://checkout.stripe.com/checkout.js"></script>

    <!--SCRIPTS-->
    <!--SCRIPTS END-->
  </body>
</html>
