<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App (not using Grunt)</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors?
        ==============================

        Since this app was generated without Grunt, the conventional asset pipeline
        is not available.  Want it after all?  Visit https://sailsjs.com/support for help.

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).
        > URLs should be relative from your "public" folder (e.g. `.tmp/public`)

    -->

  </head>

  <body>
    <%- body %>


    <!--

      Client-side Javascript?
      ========================

      Since this app was generated without Grunt, the conventional asset pipeline
      is not available.  Want it after all?  Visit https://sailsjs.com/support for help.

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).
      > URLs should be relative from your "public" folder (e.g. `.tmp/public`)

    -->

  </body>
</html>
