<div id="new-password" v-cloak>
  <div class="container">
    <div class="new-password-form">
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title text-center mb-4">Reset password</h5>
          <ajax-form action="updatePasswordAndLogin" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
            <div class="form-group">
              <label for="password">New password</label>
              <input class="form-control" id="password" name="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="••••••••" autocomplete="new-password" focus-first>
              <div class="invalid-feedback" v-if="formErrors.password">Please enter a password.</div>
            </div>
            <div class="form-group">
              <label for="confirm-password">Confirm password</label>
              <input class="form-control" id="confirm-password" name="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" placeholder="••••••••" autocomplete="new-password">
              <div class="invalid-feedback" v-if="formErrors.confirmPassword">Your new password and confirmation do not match.</div>
            </div>
            <p class="text-danger" v-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</small></p>
            <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Submit</ajax-button>
          </ajax-form>
        </div>
      </div>
      <p class="text-center">Remember your password? <a href="/login">Login</a>.</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
