{
  "name": "<%- id %>",
  "version": "0.0.0",
  "license": "<%= typeof license !== 'undefined' ? license : '' %>",
  "description": "A Sails JS hook.",
  "main": "index.js",
  "scripts": {
    "test": "echo \"OK.  (No further tests specified- at least not yet.)\" && exit 0",
    "pretest": "npm run lint",
    "lint": "node ./node_modules/eslint/bin/eslint . --max-warnings=0"
  },
  "dependencies": {},
  "devDependencies": {
    "eslint": "3.19.0"
  },
  "sails": {
    "isHook": true
  }
}
